<%- include('./includes/head.ejs') %>
</head>

<body id="page-top">

	<!-- Navigation -->
	<%- include('./includes/nav.ejs') %>
	<section id="about" class="text-center pt-5 mt-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 mx-auto pt-5">

					<div class="about-title">
						<h2>About Your Test</h2>
						<p>Created At</p>
						<p id="createdDate">
							<%=createdDate%>
						</p>
						<p id="timeRemaining"></p>
					</div>

					<div class="row about-row mb-5">
						<div class="col-xs-12 col-md-6 col-lg-3 mx-auto mb-4">
							<div class="card about-card">
								<h3>User Link:</h3>
								<a href="<%=usableURL%>/t/<%=url%>">
									<%=usableURL%>/t/
									<%=url%>
								</a>
							</div>
						</div>
						<div class="col-xs-12 col-md-6 col-lg-3 mx-auto mb-4">
							<div class="card about-card">
								<h3>Tests Name:</h3>
								<p class="mb-3">
									<%=testName%>
								</p>

							</div>
						</div>
						<div class="col-xs-12 col-md-6 col-lg-3 mx-auto mb-4">
							<div class="card about-card">
								<h3>Tests Taken:</h3>
								<p class="mb-3">
									<%=ourUserInfoArray.length%>
								</p>
							</div>
						</div>
						<div class="col-xs-12 col-md-6 col-lg-3 mx-auto mb-4">
							<div class="card about-card">

								<h3>URL Referenced: </h3>
								<p class="mb-3">
									<%=webURL%>
								</p>
							</div>
						</div>
					</div>


					<div class="row about-row mb-5 mt-5">
						<div class="col-xs-12 col-md-12 col-lg-8 mx-auto text-left">
							<div class="card about-card">
								<h3>Questions:</h3>
								<ul class="list-group list-group-flush about-list text-left">
									<%for (var i=0; i < questionArray.length; i++) {%>
									<li class="list-group-item">
										<p>
											<%=questionArray[i]%>
										</p>
									</li>
									<%}%>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section id="about" class="text-center">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-12 col-lg-6 mx-auto">

					<h2 class="pt-5">Results &amp; Replays</h2>
					<%for (var i=0; i < ourUserInfoArray.length; i++) {%>
									<div class="card about-card about-2 pb-4" style="margin-top: 15px;">

										<h5 class="card-title">Tester Name:</h5>
										<h5 class="mb-4">
											<%=ourUserInfoArray[i].name%>
										</h5>
										<ul class="list-group list-group-flush text-left pb-4">
											<li class="list-group-item">
												Age:
												<%=ourUserInfoArray[i].age%>
											</li>
											<li class="list-group-item">
												Race:
												<%=ourUserInfoArray[i].race%>
											</li>
											<li class="list-group-item">
												Browser Type:
												<%=ourUserStatesArray[i].userBrowserType%>
											</li>
											<%for (var j=0; j < ourUserAnswers[i].length; j++) {%>
											<li class="list-group-item">
												Answer to question
												<%=[j+1]%>:<br />
												<%=ourUserAnswers[i][j]%>
											</li>
											<%}%>
						</ul>

						<a href="<%=usableURL%>/replay/first/<%=ourUserInfoArray[i].initID%>" class="btn btn-primary"
											onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=<%=ourUserStatesArray[i].userWidth%>, height=<%=ourUserStatesArray[i].userHeight%>'); return false;">Watch(opens a new window)</a>
									</div>
									<%}%>
				</div>
			</div>
		</div>
	</section>

	<%- include('./includes/footer.ejs') %>

									<%- include('./includes/scripts.ejs') %>

									<!-- Custom scripts for this template -->

</body>

</html>