<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>UsabL</title>

	<!-- Bootstrap core CSS -->
	<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom fonts for this template -->
	<link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="../https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

	<!-- Custom styles for this template -->
	<link href="../css/grayscale.css" rel="stylesheet">
</head>


<body id="page-top">

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
		<div class="container">
			<a class="navbar-brand js-scroll-trigger" href="/#page-top">UsabL</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
			 aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				Menu
				<i class="fa fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
			</div>
		</div>
	</nav>
	<section id="about" class="text-center">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 mx-auto">
					<h2>About Your Test</h2>
					<h3>Tests Taken:</h3>
					<p>
						<%=ourUserInfoArray.length%>
					</p>
					<h3>URL Referenced: </h3>
					<p>
						<%=webURL%>
					</p>
					<h3>Created At</h3>
					<p>
						<%=createdDate%>
						<%=testTimeRemaining%> days left
					</p>
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="<%=testTimePercentage%>" aria-valuemin="0"
						 aria-valuemax="100" style="min-width: 2em; width: <%=testTimePercentage%>%;">
							<%=testTimePercentage%>%
						</div>
					</div>
					<h3>Questions:</h3>
					<ul class="list-group list-group-flush">
						<%for (var i=0; i < questionArray.length; i++) {%>
						<li class="list-group-item" style="background-color: #000;">
							<p>
								<%=questionArray[i]%>
							</p>
						</li>
						<%}%>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section id="about" class="text-center">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 mx-auto">
					<h2>Change replay colors</h2>
					<div class="row">
						<div class="col-sm-6">
							<p style="margin: 0">Change the mouse outline color</p>
							<input class="form-control" id="changeMouseColor" placeholder="#fff" />
						</div>
						<div class="col-sm-6">
							<p style="margin: 0">Change the mouse pointer color</p>
							<input class="form-control" id="changeMouseOutlineColor" placeholder="#fff" />
						</div>
					</div>
					<div id="mouseSVG" style="max-width: 15px; margin: auto;"></div>

					<p style="margin: 0">Change the clicking circle color</p>
					<input class="form-control" id="changeClickingColor" placeholder="rebeccapurple" />
					<div id="clickColorTest" style="z-index: 100; position:absolute; height: 30px; width: 30px; background-color: rebeccapurple; border-radius: 50%; display: inline-block;"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 mx-auto">
					<h2 style="margin-top: 35px">Watch replays</h2>
					<%for (var i=0; i < ourUserInfoArray.length; i++) {%>
					<div class="card" style="width: 50%; margin: auto; color: #000; margin-top: 40px;">
						<div class="card-body">
							<h5 class="card-title">Tester Name:
								<%=ourUserInfoArray[i].name%>
							</h5>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">
									Age:
									<%=ourUserInfoArray[i].age%>
								</li>
								<li class="list-group-item">
									Race:
									<%=ourUserInfoArray[i].race%>
								</li>
								<li class="list-group-item">
									Browser Height:
									<%=ourUserStatesArray[i].userHeight%>px

								</li>
								<li class="list-group-item">
									Browser Width:
									<%=ourUserStatesArray[i].userWidth%>px

								</li>
								<li class="list-group-item">
									Browser Type:
									<%=ourUserStatesArray[i].userBrowserType%>

								</li>
							</ul>
							<a href="http://localhost:3000/replay/first/<%=ourUserInfoArray[i].initID%>" class="btn btn-primary">Watch</a>
						</div>
					</div>
					<%}%>

				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer>
		<div class="container text-center">
			<p>Copyright &copy; Your Website 2018</p>
		</div>
	</footer>

	<!-- Bootstrap core JavaScript -->
	<script src="../vendor/jquery/jquery.min.js"></script>
	<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for this template -->
	<script src="../js/changeColor.js"></script>

</body>

</html>