<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>UsabL</title>

	<!-- Bootstrap core CSS -->
	<link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom fonts for this template -->
	<link href="../../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="../../https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

	<!-- Custom styles for this template -->
	<link href="../../css/grayscale.css" rel="stylesheet">

</head>

<body id="page-top">

	<!-- About Section -->
	<section id="about" class="content-section text-center">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<h2>Link to test site and test parameters</h2>
					<p>
						<% if (typeof noLog != 'undefined' && noLog) { %>
						<%=noLog%>
						<% } %>

					</p>
					<ul class="list-group">
						<%for (var i=0; i < ArrayPull.length; i++) {%>
						<li class="list-group-item">
							<p class="" style="color:#000;">
								<%=ArrayPull[i]%>
							</p>
						</li>
						<%}%>
					</ul>

					<h3>Link to send to users:</h3>
					<p><a href="<%=URLPull%>" target="_blank">
							<%=URLPull%></a></p>
					<h3>Results Page:</h3>
					<p><a href="<%=mainPage%>" target="_blank">
							<%=mainPage%></a></p>
				</div>
			</div>
		</div>
	</section>
	<!-- Footer -->
	<footer>
		<div class="container text-center">
			<p>Copyright &copy; Your Website 2018</p>
		</div>
	</footer>

	<!-- Bootstrap core JavaScript -->
	<script src="../../vendor/jquery/jquery.min.js"></script>
	<script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>


</body>

</html>